.mktoFieldWrap.iti.iti--allow-dropdown.iti--show-flags {
  margin-bottom: 10px;
}

.mktoFieldWrap.iti.iti--allow-dropdown.iti--show-flags input[name="Phone"] {
  padding-left: 47px !important;
}

.iti__flag-container {
  padding-left: 10px !important;
}

.mktoFieldWrap.iti.iti--allow-dropdown.iti--show-flags .lb_wrap .lb_label.top {
  top: -10px !important;
}

/* DRUPAL STYLES */

.mfp-content #form-popup-marketo .mktoFieldWrap.iti.iti--allow-dropdown.iti--show-flags {
  margin-top:10px;
}

.mfp-content #form-popup-marketo .mktoFieldWrap.iti.iti--allow-dropdown.iti--show-flags input[name="Phone"] {
  padding-left: 16px !important;
}

.mfp-content #form-popup-marketo .iti__selected-flag {
  padding-left: 16px !important;
}